body {
	background: url(https://raw.githubusercontent.com/birdiedesigns/unit4/master/images/_MG_5814-9.jpg);
	background-repeat: no-repeat;
	background-size: 50em;
	color: white;
	font-size: 26px;
	font-family: "Myanmar Sangam", "Myanmar Sangam MN", arial, sans-serif;
} 
h1 {
	font-family: "Monotype Corsiva", "Monotype Corsiva Bold", Georgia, serif;
	font-size: 48px;
	background-repeat: no-repeat;
	width: 100px;
	height: 150px;
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 1000;
}
h2 {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size: 37px;
}
hr {
	border-color: #fd6e6e;
	margin: 0;
	width: 40px;