body {
	background: url(#), #52596b;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 26px;
	font-family: Gill Sans MT Bold, arial, sans-serif;
	margin: 270px 200px;
	font-weight: 200;
	line-height: 32px;
} 
h1 {
	background: url(https://raw.githubusercontent.com/birdiedesigns/unit3/master/images/logo-taasky.png);
	background-repeat: no-repeat;
	display: block;
	width: 147px;
	height: 144px;
	
	/*Hide Text*/
	text-indent: 1000em;
	white-space: nowrap;
	overflow: hidden; 
}
hr {
	border-color: #fd6e6e;
	margin: 0;
	width: 40px;